<nav class="p-8 flex justify-between items-center border-b border-neutral-800">
    <div class="flex items-center gap-6">
        <span class="text-[10px] uppercase text-neutral-500 tracking-[0.3em]">Visuals</span>
        <h1 class="text-lg font-black uppercase tracking-tighter">PORTFOLIO</h1>
    </div>
    <div class="space-x-10 text-[10px] uppercase tracking-[0.2em] font-semibold">
        <a href="/index.html" class="hover:text-white transition-colors duration-300">Gallery</a>
        <a href="/dist/about_me.html" class="hover:text-white transition-colors duration-300">About</a>
        <a href="/dist/showerThoughts.html" class="hover:text-white transition-colors duration-300">Shower Thoughts</a>
        <a href="/dist/contact.html" class="hover:text-white transition-colors duration-300">Contact</a>
    </div>
</nav>
