@import "tailwindcss";
@source "../index.html";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #1b1b1b;
    color: #EDEBE9;
  }
}

@layer utilities {

  animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }

  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .smooth-edges {
    -webkit-backface-visibility: hidden;
  }

  .animate-wave {
    animation-name: wave;
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

/* Move keyframes outside the @layer block */
@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
